body {
    background-color: #2e2e2e;
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  .button {
    background-color: #800000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #a00000;
  }
  
  .text {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  